<h1>Shoppers disponibles</h1>


<table class="table table_striped">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Adresse</th>
      <th>Rayon d'action</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoppers.each_with_index do |shopper, index| %>
      <tr>
        <td><%= shopper.user.firstname %></td>
        <td><%= shopper.user.lastname %></td>
        <td><%= shopper.user.email %></td>
        <td><%= shopper.user.address %>, <%= shopper.user.zip_code %> <%= shopper.user.city %></td>
        <td><%= shopper.default_radius %></td>
        <td><%= link_to 'Choisir', '/', class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
