<p id="notice"><%= notice %></p>

<h1>Listing Shops</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Country</th>
      <th>City</th>
      <th>Zip code</th>
      <th>Street and number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.category %></td>
        <td><%= shop.country %></td>
        <td><%= shop.city %></td>
        <td><%= shop.zip_code %></td>
        <td><%= shop.street_and_number %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="map" style="width: 50%; height: 600px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
    <% end %>
  <% end %>
<br>

<%= link_to 'New Shop', new_shop_path %>
