<h2>Compléter ou éditer votre profil</h2>
<%= simple_form_for current_user, url: 'users/:id', method: "patch" do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, autofocus: true %>
    <%= f.input :picture %>
    <%= f.input :firstname, autofocus: true %>
    <%= f.input :lastname, autofocus: true %>
    <%= f.input :sexe, autofocus: true %>
    <%= f.input :date_of_birth, as: :date, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
    <%= f.input :address, autofocus: true %>
    <%= f.input :city, autofocus: true %>
    <%= f.input :zip_code, autofocus: true %>
    <%= f.input :phone_number, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save changes" %>
  </div>
<% end %>
