<%= simple_form_for current_user, url: 'users/:id', html: {id: :user_form, method: :patch} do |f| %>
  <%= f.error_notification %>
 <div class="container">
        <div class="modal-dialog edit-profile">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">About </h4>
                </div>
                <div class="modal-body">
                    <center>
                      <small>
                      <img src="<%= current_user.picture.url(:medium) %>" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                      <%= f.input :picture %>
                      <h4 class="media-heading">
                        <%= f.input :username, autofocus: true,required: true %>
                        <div id="alert7"></div>
                        <%= f.input :firstname, autofocus: true,required: true %>
                        <div id="alert6"></div>
                        <%= f.input :lastname, autofocus: true,required: true %>
                        <div id="alert5"></div>
                          <%= f.select :sexe, [['Male',1],['Female',2]] %>
                          <br>
                          <%= f.input :date_of_birth, as: :date, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
                          <%= f.input :address, autofocus: true, required: true %>
                          <div id="alert4"></div>
                          <%= f.input :city, autofocus: true, required: true %>
                          <div id="alert3"></div>
                          <%= f.input :zip_code, autofocus: true, required: true %>
                          <div id="alert2"></div>
                          <%= f.input :phone_number, autofocus: true, required: true %>
                          <div id="alert"></div>
                        </small>
                      </h4>
                    </center>
                    <div class="container">
                      <small>
                      <span><strong>Skills: </strong></span>
                          <%= f.input :vin %>
                          <%= f.input :boucherie %>
                          <%= f.input :charcuterie %>
                          <%= f.input :prix %>
                          <%= f.input :legume %>
                          <%= f.input :fruit %>
                          <%= f.input :poisson %>
                          <%= f.input :boutique %>
                      </small>
                    </div>

                    <hr>
                    <center>
                      <%= f.input :biography, autofocus: true %><br>
                    <br>

                    </center>
                     </div>
                </div>
                <div class="modal-footer">
                    <center>
                    <%= f.button :submit, "Save changes", id:"validez" %>
                    </center>
                </div>
            </div>
        </div>
</div>
<% end %>
