<div class="users-cards">
        
    <section>
      <div class="users2">
        <div class="row">

      <% @users.each do |user| %>
          <div class="col-sm-6 col-xs-12 full-width">
            <div class="media">
              <div class="media-left media-middle">
                <div class="image loader">
                  <img src="<%=user.picture %>" class="borderStyle" alt="">
                </div>
              </div>

              <div class="media-body bio">
                <h1 class="name"><%= user.firstname %><%= user.lastname %></h1>
                <p>
                  <span class="heading">Address <%= user.address %></span> <%= user.city %><%= user.zip_code %>
                </p>
                <p>
                  <span class="heading">Rayon d'action:</span> 
                              </p>
                <p>
                  <span class="heading">Mail</span> <%= user.email %> 
                </p>
              </div>
              <div class="media-right">
                <div class="follow transition">
                </div>
                <p class="rating">
                  <span class="heading">Rating:</span> 5/5
                </p>
                <span>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
              </div>
            </div>
          </div> <!--/col-->
    <% end %>

          

        </div>
      </div>
    </section>
            
  </div>
</div>