<div class="content">
<!-- Page Content -->
<h1>Profil: </h1>
<div id="profilecard">
    <div class="imgcropper">
      <%= image_tag @user.picture.url(:medium) %>
    </div>
    <ul>
      <li> <span>Pseudo </span> <%= @user.username %></li>
      <li> <span>Prénom </span> <%= @user.firstname %></li>
      <li> <span>Nom </span><%= @user.lastname %></li>
      <li> <span>Adresse </span><%= @user.address %></li>
      <li> <span>Ville </span><%= @user.city %></li>
      <li> <span>Tel </span><%= @user.phone_number %></li>
    </ul>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=430x300&sensor=false&maptype=roadmap&markers=color:red|#{@user.address} #{@user.city}" %>
    <%= link_to "Modifier vos informations", edit_info_path %>
  </div>
</div>
