<!-- <div class="content">
<h1 class = text-center>Profil: </h1>
<div id="profilecard">
    <div class="imgcropper">
      <%= image_tag @user.picture.url(:medium) %>
    </div>
    <ul>
      <li> <span>Pseudo </span> <%= @user.username %></li>
      <li> <span>Prénom </span> <%= @user.firstname %></li>
      <li> <span>Nom </span><%= @user.lastname %></li>
      <li> <span>Adresse </span><%= @user.address %></li>
      <li> <span>Ville </span><%= @user.city %></li>
      <li> <span>Tel </span><%= @user.phone_number %></li>
    </ul>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=430x300&sensor=false&maptype=roadmap&markers=color:red|#{@user.address} #{@user.city}" %>

    <h2 class = text-center>vos spécialitées</h2>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>
              <% if @user.vin == true %>
                <%= "vous pouvez me faire confience pour le vin" %>
              <%end%>
            </li>
            <li>
              <% if @user.boucherie == true %>
                <%= "vous pouvez me faire confience pour votre viande" %>
              <%end%>
            </li>
            <li>
              <% if @user.charcuterie == true %>
                <%= "vous pouvez me faire confience pour votre charcuterie" %>
              <%end%>
            </li>
            <li>
              <% if @user.prix == true %>
                <%= "vous pouvez me faire confience pour la recherche de bonne affaires" %>
              <%end%>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
        <ul>
          <li>
            <% if @user.legume == true %>
              <%= "vous pouvez me faire confience pour trouver de bon légume" %>
            <%end%>
          </li>
          <li>
            <% if @user.fruit == true %>
              <%= "vous pouvez me faire confience pour trouver de bon fruit" %>
            <%end%>
          </li>
          <li>
            <% if @user.poisson == true %>
              <%= "vous pouvez me faire confience pour les produit frais venant de la mer" %>
            <%end%>
          </li>
          <li>
            <% if @user.boutique == true %>
              <%= "vous pouvez me faire confience pour selectionner les meilleurs addresses" %>
            <%end%>
          </li>
        </ul>
        </div>
        </div>
        <%= link_to "Modifier vos informations", edit_info_path %>
      </div>
 -->


 <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="<%=edit_info_path %>" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
                    <h4 class="modal-title" id="myModalLabel">About <%= @user.firstname %></h4>
                </div>
                <div class="modal-body">
                    <center>
                    <img src="<%= @user.picture.url(:medium)%>" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading"><%= @user.firstname %> <%= @user.lastname %> <small><%= @user.city %> </small></h3>
                    <span><strong>Vos spécialités: </strong></span>
                        <div class="row">
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li>
              <% if @user.vin == true %>
                <span class="label label-warning"><%="Vin"%></span>
              <%end%>
            </li>
            <li>
              <% if @user.boucherie == true %>
                <span class="label label-success"><%="Boucherie"%></span>
              <%end%>
            </li>
            <li>
              <% if @user.charcuterie == true %>
                <span class="label label-warning"><%="Charcuterie"%></span>
              <%end%>
            </li>
            <li>
              <% if @user.prix == true %>
                <span class="label label-info"><%="Meilleurs affaires"%></span>
              <%end%>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
        <ul class="list-unstyled">
          <li>
            <% if @user.legume == true %>
              <span class="label label-warning"><%="Légume"%></span>
            <%end%>
          </li>
          <li>
            <% if @user.fruit == true %>
              <span class="label label-warning"><%="Fruit"%></span>
            <%end%>
          </li>
          <li>
            <% if @user.poisson == true %>
              <span class="label label-info"><%="Poisson"%></span>
            <%end%>
          </li>
          <li>
            <% if @user.boutique == true %>
              <span class="label label-success"><%="Meilleurs Addresses"%></span>
            <%end%>
          </li>
        </ul>
        </div>
        </div>

                        <!-- <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span> -->
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                     <%= link_to "Modifier vos informations", edit_info_path %>
                    </center>
                </div>
            </div>

        </div>
</div>
