<div id="">
<!-- Page Content -->
  <h1>Votre profil: </h1>
  <div class="">
    <%= image_tag @user.picture.url(:medium) %>
  </div>
  <ul>
    <li> Username: <%= @user.username %></li>
    <li> Prénom: <%= @user.firstname %></li>
    <li> Nom: <%= @user.lastname %></li>
    <li> Adresse: <%= @user.address %></li>
    <li> Ville: <%= @user.city %></li>
    <li> Code postal: <%= @user.zip_code %></li>
    <li> Numéro de téléphone: <%= @user.phone_number %></li>
  </ul>

  <%= link_to "Modifier vos informations", edit_info_path %>
</div>