<nav id="landingnav" class="active">

   <a href="<%= root_path %>"><img src="http://i.imgur.com/ataYUYi.png"></a>

     <ul>
       <li><a class="link accueil" href="#accueil">Accueil</a></li>
       <li><a class="link what" href="#what">What</a></li>
       <li><a class="link why" href="#why">Why</a></li>
       <li><a class="link about" href="#about">About</a></li>

       <% if user_signed_in? %>
        <li><%= link_to "Passer Commande", searchs_path %></li>
         <li><%= link_to "Profil", user_path(current_user) %></li>
         <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
       <% else %>
         <li><%= link_to "Login", new_user_session_path %></li>
         <li><%= link_to "Sign up", new_user_registration_path %></li>
       <% end %>
     </ul>

</nav>



<nav id="scrollednav">

   <a href="<%= root_path %>"><img src="http://i.imgur.com/ataYUYi.png"></a>

     <ul>
       <li><a class="link accueil" href="#accueil">Accueil</a></li>
       <li><a class="link what" href="#what">What</a></li>
       <li><a class="link why" href="#why">Why</a></li>
       <li><a class="link about" href="#about">About</a></li>

       <% if user_signed_in? %>
        <li><%= link_to "Passer Commande", searchs_path %></li>
         <li><%= link_to "Profil", user_path(current_user) %></li>
         <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
       <% else %>
         <li><%= link_to "Login", new_user_session_path %></li>
         <li><%= link_to "Sign up", new_user_registration_path %></li>
       <% end %>
     </ul>

</nav>