<nav id="landingnav" class="">

   <a href="<%= root_path %>"><img id="nav-logo" src="http://i.imgur.com/ataYUYi.png"></a>

     <ul>
       <% if !user_signed_in? %>
         <li><a class="link accueil" href="#accueil">Accueil</a></li>
         <li><a class="link what" href="#what">What</a></li>
         <li><a class="link why" href="#why">Why</a></li>
         <li><a class="link about" href="#about">About</a></li>
       <% end %>

       <% if user_signed_in? %>
         <li><%= link_to "Passer Commande", searchs_path %></li>
         <li><%= link_to "Profil", user_path(current_user) %></li>
         <li>
            <div class="dropdownToggle transparent">
              <div class="nav-imgcropper"> 
                <%= image_tag current_user.picture.url(:medium) %> 
              </div>
            </div>
            <div class="dropdown transparent">
              <ul class="dropdown-content">
                <li><a href="#">First</a></li>
                <li><a href="#">Second</a></li>
                <li><a href="#">Third</a></li>
                <li><a href="#">Fourth</a></li>
              </ul> 
            </div>

          </li>
         <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
       <% else %>
         <li><%= link_to "Login", new_user_session_path %></li>
         <li> <span class="modalLink">Login (Modal) </span></li>
         <li><%= link_to "Sign up", new_user_registration_path %></li>
       <% end %>
     </ul>

</nav>



<nav id="scrollednav" class="active">

   <a href="<%= root_path %>"><img id="nav-logo" src="http://i.imgur.com/ataYUYi.png"></a>

     <ul>
       <% if !user_signed_in? %>
         <li><a class="link accueil" href="#accueil">Accueil</a></li>
         <li><a class="link what" href="#what">What</a></li>
         <li><a class="link why" href="#why">Why</a></li>
         <li><a class="link about" href="#about">About</a></li>
       <% end %>

       <% if user_signed_in? %>
         <li><%= link_to "Passer Commande", searchs_path %></li>
         <li><%= link_to "Profil", user_path(current_user) %></li>
         <li>
            <div class="dropdownToggle opaque">
              <div class="nav-imgcropper"> 
                <%= image_tag current_user.picture.url(:medium) %> 
              </div>
            </div>
            <div class="dropdown opaque">
              <ul class="dropdown-content">
                <li><a href="#">First</a></li>
                <li><a href="#">Second</a></li>
                <li><a href="#">Third</a></li>
                <li><a href="#">Fourth</a></li>
              </ul> 
            </div>
        </li>
         <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
       <% else %>
         <li><%= link_to "Login", new_user_session_path %></li>
         <li> <span class="modalLink">Login (Modal)</span></li>
         <li><%= link_to "Sign up", new_user_registration_path %></li>
       <% end %>
     </ul>

</nav>



