<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <%= link_to "Profil", '/users/:id' %>
                </li>
                <li>
                  <%= link_to "Edit your profil", edit_info_path %>
                </li>

                  <li>
                    <%= link_to "Devenir shopper", devenir_shopper_path %>
                  </li>

                <li>
                  <%= link_to "Add a property", '/' %>
                </li>

                  <li>
                    <%= link_to "Manage your bookings", '/' %>
                  </li>

            </ul>
        </div>
