<%= simple_form_for @order do |o| %>
  <%= o.error_notification %>

  <ul>
    <% @order.ordered_products.each do |op| %>
      <li><%= op.product.name %> <%= op.product.category %><%= op.quantity %><%= op.product.unit %>[<%= op.product.min_price %>€ - <%= op.product.min_price %>€]</li>
    <% end %>
  </ul>

  <%= o.fields_for :ordered_products, @order.ordered_products.build do |op| %>
    <%= op.collection_select(:product_id, @products, :id, :category) %>
    <%= op.collection_select(:product_id, @products, :id, :name) %>
    <%= op.input :quantity %>
  <% end %>

  <%= o.submit "Sauvgarder" %>
<% end %>
