<%= simple_form_for @order do |o| %>
  <%= o.error_notification %>



    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix estimé</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
            <tr>
              <% @order.ordered_products.each do |op| %>
                <td><%= op.product.name %></td>
                <td><%= op.quantity %> <%= op.product.unit %> </td>
                <td>[<%= op.product.min_price %> € - <%= op.product.min_price %> €]</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            <% end %>
            </tbody>
    </table>


        <div class="row">
          <%= o.fields_for :ordered_products, @order.ordered_products.build do |op| %>
            <div class="col-xs-3">
              <%= select_tag :categories, options_from_collection_for_select(@products, "category", "category") %>

            </div>
            <div class="col-xs-3">
              <%= op.collection_select(:product_id, [], :id, :name) %>
            </div>
            <div class="col-xs-3">
              <%= op.label :quantity %>
            </div>
            <div class="col-xs-3">
              <%= op.text_field :quantity %>
            </div>
          <% end %>

      </div>

      <div class="row">
          <div class="col-xs-6">
            <%= o.submit "Ajouter à la liste" , class:"btn btn-default"%>
          </div>
          <div class="col-xs-6">
            <button type="submit" class="btn btn-default">J'y Go!</button>
          </div>
      </div>
          <% end %>


<!-- Préparer la barre de synthèse -->
<!-- <div class="container">
  <div class="col-md-3">
    Prix min
  </div>
  <div class="col-md-3">
    Prix max
  </div>
  <div class="col-md-3">
    Commission
  </div>
  <div class="col-md-3">
    Go
  </div>
</div> -->



<script type="text/javascript">
  $(document).ready(function() {
    var products = <%= raw( @products.map{ |p| [p.id, p.name, p.category] } ) %>;
    var categoriesDropdown = $("#categories");

    categoriesDropdown.change(filterDropdown);

    function filterDropdown() {
      var productsDropdown = $("#order_ordered_products_attributes_0_product_id");
      productsDropdown.empty();
      var selectedCategory = $(this).val();
      for (var i = 0; i < products.length; i++)  {
        if (products[i][2] == selectedCategory) {
          productsDropdown.append('<option value='+products[i][0]+'>'+products[i][1]+'</option>');
        }
      }
    }
  });
</script>
