<%= simple_form_for @order do |o| %>
  <%= o.error_notification %>



    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix estimé</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
            <tr>
              <% @order.ordered_products.each do |op| %>
                <td><%= op.product.name %></td>
                <td><%= op.quantity %> <%= op.product.unit %> </td>
                <td>[<%= op.product.min_price %> € - <%= op.product.max_price %> €]</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            <% end %>
            </tbody>
    </table>

    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Catégorie</th>
            <th>Produit</th>
            <th>Quantité</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
              <%= o.fields_for :ordered_products, @order.ordered_products.build do |op| %>
                <td><%= select_tag :categories, options_for_select(@categories) %></td>
                <td><%= op.collection_select(:product_id, [], :id, :name) %></td>
                <td><%= op.text_field :quantity %></td>
                <td><button type="submit" name="commit" class="btn btn-success"><i class="glyphicon glyphicon-plus"> Ajouter</i></td>
            </tr>
            <% end %>
            </tbody>
    </table>

  <br>
  <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Prix minimum</th>
            <th>Prix maximum</th>
            <th>Commission</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>

                <td><%= @order.min_price_sum %> €</td>
                <td><%= @order.max_price_sum %> €</td>
                <td>5 €</td>
            </tr>
    </tbody>
  </table>






<% end %>
<!-- Préparer la barre de synthèse -->
<!-- <div class="container">
  <div class="col-md-3">
    Prix min
  </div>
  <div class="col-md-3">
    Prix max
  </div>
  <div class="col-md-3">
    Commission
  </div>
  <div class="col-md-3">
    Go
  </div>
</div> -->



<script type="text/javascript">
  $(document).ready(function() {
    var products = <%= raw( @products.map{ |p| [p.id, p.name, p.category] } ) %>;
    var categoriesDropdown = $("#categories");

    categoriesDropdown.change(filterDropdown);

    function filterDropdown() {
      var productsDropdown = $("#order_ordered_products_attributes_0_product_id");
      productsDropdown.empty();
      var selectedCategory = $(this).val();
      for (var i = 0; i < products.length; i++)  {
        if (products[i][2] == selectedCategory) {
          productsDropdown.append('<option value='+products[i][0]+'>'+products[i][1]+'</option>');
        }
      }
    }
  });
</script>
