<%= simple_form_for @order do |o| %>
  <%= o.error_notification %>

<div class="container-fluid products-choices">

  <div class="order-section chosen">
    <div class="row chosen-products-labels">
            <div class="col-sm-3">Produit</div>
            <div class="col-sm-3">Quantité</div>
            <div class="col-sm-3">Prix estimé</div>
            <div class="col-sm-3">Action</div>
    </div>
    <div class="row chosen-products">
      <% @order.ordered_products.each do |op| %>
                <div class="col-sm-3 chosen-product"><%= op.product.name %></div>
                <div class="col-sm-3 chosen-product"><%= op.quantity %> <%= op.product.unit %> </div>
                <div class="col-sm-3 chosen-product">[<%= op.product.min_price %> € - <%= op.product.max_price %> €]</div>
                <div class="col-sm-3 chosen-product"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></div>
      <% end %>
    </div>
  </div>

  <div class="order-section current-selection">
    <div class="row products-choices-labels">
            <div class="col-sm-3">Catégorie</div>
            <div class="col-sm-3">Produit</div>
            <div class="col-sm-6">Quantité</div>
            <!-- <div class="col-sm-3">sqdfmlfkjqsdm</div> -->
    </div>

    <div class="row product-selection">
              <%= o.fields_for :ordered_products, @order.ordered_products.build do |op| %>
                <div class="col-sm-3"><%= select_tag :categories, options_for_select(@categories)%></div>
                <div class="col-sm-3"><%= op.collection_select(:product_id, [], :id, :name) %></div>
                <div class="col-sm-3"><%= op.text_field :quantity %></div>
                <div class="col-sm-3"><button type="submit" name="commit" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"> Ajouter </i></button></div>
              <% end %>
    </div>
  </div>

  <div class="order-section summary">
    <div class="row prices-labels">
              <div class="col-sm-2">Prix-min</div>
              <div class="col-sm-2">Prix-max</div>
              <div class="col-sm-8">Commission</div>
    </div>
    <div class="row prices-summary">
                  <div class="col-sm-2"><%= @order.min_price_sum %> €</div>
                  <div class="col-sm-2"><%= @order.max_price_sum %> €</div>
                  <div class="col-sm-8">5 €</div>
                  
    </div>
  </div>

</div>

<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    var products = <%= raw( @products.map{ |p| [p.id, p.name, p.category] } ) %>;
    var categoriesDropdown = $("#categories");

    categoriesDropdown.change(filterDropdown);

    function filterDropdown() {
      var productsDropdown = $("#order_ordered_products_attributes_0_product_id");
      productsDropdown.empty();
      var selectedCategory = $(this).val();
      for (var i = 0; i < products.length; i++)  {
        if (products[i][2] == selectedCategory) {
          productsDropdown.append('<option value='+products[i][0]+'>'+products[i][1]+'</option>');
        }
      }
    }
  });
</script>
