<br>
<br>
<h1>Vos lists de livraison à faire</h1>

<table class="table table_striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>User Name</th>
      <th>User Lastname</th>
      <th>status </th>
      <th>total amont</th>
      <th>commission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.orders.each_with_index do |order, index| %>
      <tr>
        <td><%= order.date %></td>
        <td><%= order.user.firstname%></td>
        <td><%= order.user.lastname%></td>
        <td><% if order.status_exec == true %>
              <%= "Effectuée" %>
            <% else %>
              <%= "En cours" %></td>
              <%end%>
        <td><% if order.status_exec == true %>
              <%= order.total_amount %>
            <% else %>
              <%=  "Indisponible" %></td>
              <%end%>
        <td><% if order.status_exec == true %>
              <%= order.commission %>
            <% else %>
               <%=  "Indisponible" %></td>
              <%end%>
          <% end %>
  </tbody>
</table>
