<br>
<br>
<h1>Mes Commande Shopper</h1>

<table class="table table_striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Shopper Name</th>
      <th>Shopper Lastname</th>
      <th>status</th>
      <th>total amount</th>
      <th>commission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopper.orders.each_with_index do |order, index| %>
      <tr>
        <td><%= order.date %></td>
        <td><%= order.shopper.user.firstname%></td>
        <td><%= order.shopper.user.lastname%></td>
        <td><% if order.status_exec == true %>
              <%= "Effectuée" %>
            <% else %>
              <%= "En cours" %></td>
            <%end%>
        <td><% if order.status_exec == true %>
              <%= order.total_amount %>
            <% else %>
              <%=  "Indisponible" %></td>
              <%end%>
        <td><% if order.status_exec == true %>
              <%= order.commission %>
            <% else %>
               <%=  "Indisponible" %></td>
            <%end%>
        </tr>
      <%end%>
  </tbody>
</table>

