<!-- <h2>Ajouter ou éditer une disponibilité</h2>
<%= simple_form_for @availability do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date, as: :date, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
    <%= f.input :beginning_hour, as: :time, input_html: { class: "timepicker", value: Time.now.strftime('%h-%m-%s') } %>
    <%= f.input :ending_hour, as: :time, input_html: { class: "timepicker", value: Time.now.strftime('%h-%m-%s') } %>
    <%= f.input :acceptation_auto, label: "Souhaitez-vous activer la validation automatique ?" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sauvegarder" %>
  </div>
<% end %> -->

<%= simple_form_for @availability do |f| %>
<div class="add-availability-container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">About </h4>
                </div>
                <div class="modal-body">
                    <center>
                    <h3 class="media-heading">
                    <small>
                      <%= f.input :date, as: :date, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
                      <%= f.input :beginning_hour, as: :time, input_html: { class: "timepicker", value: Time.now.strftime('%h-%m-%s') } %>
                      <%= f.input :ending_hour, as: :time, input_html: { class: "timepicker", value: Time.now.strftime('%h-%m-%s') } %>
                      <%= f.input :acceptation_auto, label: "Souhaitez-vous activer la validation automatique ?" %>   
                    </small>
                    </h3>
                    <span><strong>Vos spécialités: </strong></span>
                        <div class="row">

                          

                        </div>

                        <!-- <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span> -->
                    </center>
                    <hr>
                    <center>
                    <%= f.button :submit, "Sauvegarder" %>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                     
                    </center>
                </div>
            </div>

        </div>
</div>

<% end %>