<%= form_for :search, url:  shoppers_path, method: :get do |s| %>
<!-- <div class="search-shopper-container">
<div class="row">
<div class="form-group">
<label class="sr-only" for="date">Adresse de livraison</label>
<div class="input-group">
  <div class="col-xs-6">
  <strong>Adresse de livraison :</strong>
<%= current_user.address %>
<%= current_user.city %>
<%= current_user.zip_code %>
</div>
 <div class="col-xs-6">
 <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=430x300&sensor=false&maptype=roadmap&markers=color:red|#{current_user.address} #{current_user.zip_code} #{current_user.city}" %>
</div>
</div>
</div>
</div>
<label class="sr-only" for="date">Date de livraison</label>
  <div class="input-group">
    <div class="col-xs-6">
    <strong>Date de livraison :</strong>
  </div>
  <div class="col-xs-6">
      <input type="date" class="form-control" id="date" name="date" required >
  </div>
</div>
</div>
<div class="container">
<button type="submit" class="btn btn-default btn-primary"> Trouver mon shopper </button>
</div> -->

 <div class="search-shopper-container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <center><h4 class="modal-title" id="myModalLabel">Votre addresse de livraison : </h4></center>
                </div>
                <div class="modal-body">
                    <center>
                    <h3 class="media-heading"><%= current_user.address %> <small><%= current_user.zip_code %> <%= current_user.city %></small></h3>


                        <div class="row">

                        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=430x300&sensor=false&maptype=roadmap&markers=color:red|#{current_user.address} #{current_user.zip_code} #{current_user.city}" %>
                        </div>

                        <!-- <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span> -->
                    </center>
                    <hr>
                    <center>
                    <p class="text-left">
                      <h4 class="modal-title" id="myModalLabel">Date et horaires de livraison: </h4><br>
                    </p>
                    <strong>Date:</strong> <input type="date" class="form-control" id="date" name="date" style="width: 210px" required >
                    <br>
                    <strong>Début:</strong> <input type="time" name="Début">
                    <strong>Fin:</strong> <input type="time" name="Fin">
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                      <button type="submit" class="btn btn-default btn-primary" id="search-button"> Trouver un shopper !</button>
                    </center>
                </div>
            </div>

        </div>
</div>
<% end %>
