<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "JYGO" %></title>
  <meta name="The crowdsourced shopping service" content="<%= (yield(:description) || "").squish %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="backround-img blur" style="background:url(http://i.imgur.com/66nKj6x.jpg)"></div>
	<%= render 'shared/navbar' %>

	<% if false %>
		<%= render 'shared/notices' %>
	<% end %>

	<% if false %>
		<% if user_signed_in? %>
		<%= render partial: "shared/side_bar" %>
		<% end %>
	<% end %>

	<div id="openModal" class="modalDialog">
		<div>
			<a href="#close" class="closeModal">X</a>
			<h2>Login</h2>
			<form id="loginForm" action="">
				<input id="emailInput" type="text" placeholder="Email">
				<input id="passwordInput" type="password" placeholder="Mot de passe">
				<button class="loginBtn" type="button">Go</button>
			</form>
		</div>
	</div>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>




	<%= yield %>

  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>

  <%= yield(:after_js)%>

  <%= javascript_include_tag 'application' %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
