<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "JYGO" %></title>
  <meta name="The crowdsourced shopping service" content="<%= (yield(:description) || "").squish %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="my-container">
<%= render 'shared/navbar' %>
<%= render 'shared/notices' %>
<% if user_signed_in? %>
<%= render partial: "shared/side_bar" %>
<% end %>
<%= javascript_include_tag 'application' %>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<%= yield %>

</body>
</html>
